{% extends 'base.html.twig' %}

{% block title %}Parameter{% endblock %}

{% block body %}
    <h1>Parameter</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ parameter.id }}</td>
            </tr>
            <tr>
                <th>NameSite</th>
                <td>{{ parameter.nameSite }}</td>
            </tr>
            <tr>
                <th>TitleSite</th>
                <td>{{ parameter.titleSite }}</td>
            </tr>
            <tr>
                <th>Keywords</th>
                <td>{{ parameter.keywords ? parameter.keywords|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ parameter.description }}</td>
            </tr>
            <tr>
                <th>IsOnline</th>
                <td>{{ parameter.isOnline ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_parameter_index') }}">back to list</a>

    <a href="{{ path('admin_parameter_edit', {'id': parameter.id}) }}">edit</a>

    {{ include('admin_parameter/_delete_form.html.twig') }}
{% endblock %}
