{{ form_start(form) }}
<div class="row">
    <div class="col-12">
        <h4>Le Membre</h4>
        <hr>
    </div>
    <div class="col-12">
        <div class="form-floating mb-2">
            {{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder': 'registration_form_username'}}) }}
            <label for="registration_form_username"><i class="fas fa-user"></i>  Login</label>
        </div>
    </div>
    <div class="col-6">
        <div class="form-floating mb-2">
            {{ form_widget(form.firstName, {'attr': {'class': 'form-control', 'placeholder': 'registration_form_firstname'}}) }}
            <label for="registration_form_firstname"><i class="fas fa-user"></i>  Prénom</label>
        </div>
    </div>
    <div class="col-6">
        <div class="form-floating mb-2">
            {{ form_widget(form.lastName, {'attr': {'class': 'form-control', 'placeholder': 'registration_form_lastname'}}) }}
            <label for="registration_form_lastname"><i class="fas fa-user"></i>  Nom</label>
        </div>
    </div>
    <div class="col-12">
        <div class="form-floating mb-2">
            {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'registration_form_email'}}) }}
            <label for="registration_form_email"><i class="fas fa-user"></i>  Email</label>
        </div>
    </div>
    <div class="col-12">
        <div class="form-floating mb-2">
            {{ form_widget(form.typeMember, {'attr': {'class': 'form-control'}}) }}
            <label for="registration_form_email"><i class="fas fa-user"></i>  type de Membre</label>
        </div>
    </div>
    <div class="col-12">
        <a class="btn btn-sm btn-primary" href="{{ path('op_admin_member_index') }}"><i class="far fa-arrow-alt-circle-left"></i></a>
        <button class="btn btn-sm btn-primary">{{ button_label|default('Créer la fiche') }}{{ form_end(form) }}</button>
        <a class="btn btn-sm btn-warning" href="#"><i class="fa fa-trash"></i> Supprimer</a>


    </div>
</div>

