{% extends 'admin.html.twig' %}

{% block title %}OpenGaia | Administration{% endblock %}

{% block content_title %}
    <section id="op_admin_content_title" class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row justify-content-around">
                            <div class="col-6"><h3 class="card-title">Gestion des utilisateurs</h3></div>
                            <div class="col-6"><a href="#" class="btn btn-sm btn-light" data-bs-toggle="modal" data-bs-target="#op_add_member" data-bs-whatever="test"><i class="fas fa-user-plus fa-xs"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section id="op_admin_content" class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4>Liste des inscrits au {{ "now"|date("d M Y") }}</h4>

                        <table class="table">
                            <thead>
                            <tr>
                                <th>Nom & Prénom</th>
                                <th>Login</th>
                                <th>Email</th>
                                <th>Adress</th>
                                <th>compte vérifié</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set data = "" %}
                            {% for member in members %}
                                {% set data = {'id': member.id, 'firstName': member.firstName, 'lastName':member.lastName, 'email': member.email } %}
                                <tr>
                                    <td>{{ member.firstName }} {{ member.lastName }}</td>
                                    <td>{{ member.username }}</td>
                                    <td>{{ member.email }}</td>
                                    <td>{{ member.adress }}</td>
                                    <td>{{ member.isVerified ? 'Yes' : 'No' }}</td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                Actions
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                <li>
                                                    <a class="dropdown-item" href="#" id="btn_update_member" data-bs-toggle="modal" data-bs-target="#op_update_member" data-bs-whatever="{{ data|json_encode }}">
                                                        <i class="fas fa-user-edit fa-xs"></i> Modification rapide
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="{{ path('op_admin_member_edit', {'id':member.id}) }}">
                                                        <i class="fas fa-eye fa-xs"></i> Voir la fiche
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="#">
                                                        <p class="text-danger"><i class="fas fa-trash fa-xs"></i> Supprimer</p>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>

                                        {{ include('admin/member/include/_updateMember.html.twig') }}
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="11">Aucun enregistrement correspondant à la recherche trouvé</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            Il y a actuellement {{members|length}} membre en base de données.
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block modal %}
    {{ include('admin/member/include/_addMember.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function() {
            // Alimentation de la modal "update" par JSON
            var op_update_member = document.getElementById('op_update_member');
            op_update_member.addEventListener('show.bs.modal', function (event) {
                // Button that triggered the modal
                var button = event.relatedTarget
                // Extract info from data-bs-* attributes
                var member = JSON.parse(button.getAttribute('data-bs-whatever'))
                // If necessary, you could initiate an AJAX request here
                // and then do the updating in a callback.
                //
                // Update the modal's content.

                var modalTitle = op_update_member.querySelector('.modal-title')
                var firstNameInput = op_update_member.querySelector('.modal-body #firstName')
                var lastNameInput = op_update_member.querySelector('.modal-body #lastName')
                var emailInput = op_update_member.querySelector('.modal-body #email')

                modalTitle.textContent = 'Mise à jour de la fiche : ' + member.firstName + ' ' + member.lastName
                firstNameInput.value = member.firstName
                lastNameInput.value = member.lastName
                emailInput.value = member.email

                document.getElementById('op_form_update_members').onsubmit = function(e) {
                    e.preventDefault();
                    var url = this.action;
                    var firstName = firstNameInput.value;
                    var lastName = lastNameInput.value;
                    var email = emailInput.value;
                    axios.post(url, {firstName: firstName, lastName:lastName, email: email})
                        .then(function(response){

                        })
                        .catch(function(error) {

                        })
                };
            });


        });
    </script>


{% endblock %}